<div class="ui modal modalCadImagem">

    <table class="ui striped celled unstackable table" id="tabela_lista">
        <thead>
        <tr>
            <th class="no-sort" colspan="5">
                <div class="ui default ribbon large label">Cadastrar Imagem</div>
            </th>
        </tr>
        </thead>
    </table>
        <form action="/Imagem_Cadastro/" method="post">{% csrf_token %}
            <div class="modalpadrao">
                <table class="ui center aligned table">
                    <tr>
                        <td colspan="2">
                            <select onchange="ativar()" name="comu" id="comu" class="campo_cadastro" required="True">
                                <option value="{{ comunidade.id }}" selected>{{ comunidade.nome }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Imagem</td>

                        <td>Data</td>
                    </tr>
                    <tr>
                        <td><input type="file" name="imagem" class="campo_cadastro" required></td>
                        <td><input type="date" name="data" class="campo_cadastro" required></td>
                    </tr>
                    <tr>
                        <td>Latitude</td>
                        <td>Longitude</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lati" class="campo_cadastro" required></td>
                        <td><input type="text" name="longi" class="campo_cadastro" required></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="ui slider checkbox">
                                {% if monitorando %}
                                    <input type="checkbox" name="monitorar" checked>
                                {% else %}
                                    <input type="checkbox" name="monitorar">
                                {% endif %}
                                <label>Monitorar</label>
                            </div>
                        </td>
                    </tr>
                </table>
                {% include "blocos/buttons_form.html" %}
        </form>
    </div>
</div>
