<div class="ui modal modalExcluirImagem">
    <div class="header"><i class="ui warning large circle icon"></i> Excluir Imagem</div>
    <div class="content mensagemExcluir">
        <p>Ao excluir uma Imagem será removido da base de dados Históricos referentes a essa Comunidade.</p>
        <p>Tem certeza que deseja excluir a <b><span id="nome"></span></b> da base de dados?</p>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <a href="#" id="link">
             <div class="ui negative button">Excluir</div>
        </a>

    </div>
</div>