footer {
    padding-top: 1% !important;
    min-height: 7% !important;
    width: 100%;
    background-color: #003831 !important;
    margin: 0 !important;
}

.botao_main{
    background-color: #003831 !important;
}

.meio_inicio {
    background-image: url("../images/planoDeFundo.jpg") !important;
    background-repeat: no-repeat !important;
	background-size: cover !important;
	width: 100% !important;
    height: 100vh !important;
}

.meio_logado {
    background-repeat: no-repeat !important;
	background-size: cover !important;
	width: 100% !important;
    height: 100vh !important;
}

.bloco_inicio {
    height: 100vh !important;
}

.textoMonitoramento{
    position: absolute;
    right: 0;
    left: 0;
    top: 25%;
    margin: 1px auto;
    display: block;
    text-align: center;
    font-size: 2.5em !important;
    font-family: 'Marvel', sans-serif !important;
}

.textoMonitoramento .header{
    color: #005b6d !important;
}

#topo
{
    background-color: #003831;
    min-height: 10% !important;
}

/*------------------------------*/
.issem-dropdown {
    text-align: center !important;
    padding: 20px 0 10px 0 !important;
}

.issem-cad {
    text-align: center;
}

.issem-input-small div {
    min-width: 8em !important;
}

.issem-input-checkbox{
    margin-top: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    padding-left: 15px !important;
    box-shadow: none !important;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.issem-input-radio {
    box-shadow: none !important;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.issem-input-radio ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.issem-input-radio ul li {
    display: inline;
    margin-right: 20px;
}
.ui.large.menu {
    margin-top: 0;
}
