{% extends 'base_logado.html' %}
{% load widget_tweaks %}
{% block body_block %}
    {% include 'blocos/steps.html' %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
        <table class="ui striped celled unstackable table" id="tabela_lista">
            <thead>
            <tr>
                <th class="no-sort" colspan="5">
                    <div class="ui default ribbon large label">Entre com seu Caso</div>
                <div class="right floated ui labeled icon button">
                    <i class="icon hand point right"></i>{{ imagem.comunidade.nome }} em {{ imagem.dataImagem }}
                    </div>
                </th>
            </tr>
            </thead>
        </table>
            <form class="ui form" action="/monitoramento/" method="post" enctype="multipart/form-data"  onsubmit="valida_form()">
                {% csrf_token %}
                <input type="hidden" name="caso_inserido" value="{{ imagem.id }}">
                <div class="fields">
                    <div class="five wide field"></div>
                    <div class="six wide field">
                        <label>Objeto 1</label>
                        {{ form.objeto1|attr:"required"}}
                        {% if form.objeto1.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.objeto1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="five wide field">
                        <label>Relação</label>
                        {{ form.relacao|attr:"required"}}
                        {% if form.relacao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.relacao.errors }}
                            </div>
                        {% endif %}
                    </div>


                    <div class="six wide field">
                        <label>Objeto 2</label>
                        {{ form.objeto2|attr:"required"}}
                        {% if form.objeto2.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.objeto2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="four wide field">
                        <label>Distância</label>
                        {{ form.distancia|attr:"required"}}
                        {% if form.distancia.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.distancia.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="five wide field"></div>
                </div>


            {% include 'blocos/avancar_voltar.html' %}
            </form>
        </div>
    </div>

{% endblock %}