{% load static %}
{% for dado in dados %}

<div class="ui modal modalDetalhes{{ dado.id }}">
    <table class="ui striped celled unstackable table" id="tabela_lista">
        <thead>
        <tr>
            <th class="no-sort" colspan="5">
                <div class="ui default ribbon large label">{{ dado.imagem.comunidade.nome }}
                    - {{ dado.imagem.comunidade.bairro }} - {{ dado.imagem.comunidade.cidade }}
                    - {{ dado.imagem.comunidade.estado }} - {{ dado.imagem.dataImagem }}</div>
            </th>
        </tr>
        </thead>
    </table>
    <div class="image content">
        <div class="image">
            <img src="/media/{{ dado.imagem.img }}" data-zoom-image="/media/{{ dado.imagem.img }}" width="500"><br>

        </div>
        <div class="description">
            <table class="ui striped celled unstackable table tabelas">
                <tr>
                    <td>{{ dado.data }}</td>
                </tr>
                <tr>
                    <td>{{ dado.objeto1 }} {{ dado.relacao }} {{ dado.objeto2 }}</td>
                </tr>
                <tr>
                    <td>Distância: {{ dado.distancia }} metros</td>
                </tr>
                <tr>
                    {% if dado.resultado == "Amarelo" %}
                        <td bgcolor="#b8860b">
                    {% elif dado.resultado == "Vermelho" %}
                        <td bgcolor="#8b0000">
                    {% else %}
                        <td bgcolor="#006400">
                    {% endif %}
                    Plano de Ação: {{ dado.plano_acao }}</td>
                </tr>
            </table>
            <table class="ui striped celled unstackable table" id="tabela_lista">
                <tfoot>
                <div class="ui two bottom attached buttons botao_inferior">
                    {% if lati %}
                        <button class="ui red bottom attached center aligned button excluirHist" onclick="historico_excluir_lati({{ dado.id }},{{ dado.imagem.id }},{{ dado.imagem.comunidade.id }}, {{ dados.number }})" name="historico_selecionado"
                        value="{{ dado.id }}">
                    Excluir Histórico
                </button>
                    {% else %}
                <button class="ui red bottom attached center aligned button excluirHist" onclick="historico_excluir({{ dado.id }},{{ dado.imagem.id }},{{ dado.imagem.comunidade.id }}, {{ dados.number }})" name="historico_selecionado"
                        value="{{ dado.id }}">
                    Excluir Histórico
                </button>
                    {% endif %}
                </div>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% include 'historico/modalExcluirHist.html' %}