{% load static %}
<head>
    <title>SMOT</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/range.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.carousel.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.theme.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.transitions.css' %}"/>
    <link rel="icon" type="image/png" href="../static/images/solologo.png" sizes="20x20">
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom-file-input.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/issem.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.custom-file-input.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.panzoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.2.6.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/range.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sortTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'css/semantic/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'css/semantic/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'css/semantic/package.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl/owl.carousel.min.js' %}"></script>
</head>