{% load static %}
<head>
    <title>SMOT</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/range.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.carousel.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.theme.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'owl/owl.transitions.css' %}"/>
	<link rel="icon" type="image/png" href="../static/images/solologo.png" sizes="20x20">
    <script src="{% static 'js/jquery-v1.min.js' %}"></script>
    <script src="{% static 'css/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/pagination.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/sortTable.js' %}"></script>
    <script src="{% static 'owl/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.panzoom.js' %}"></script>
    <script src="{% static 'js/range.js' %}"></script>
    <script src="{% static 'js/cidades-estados-utf8.js' %}"></script>
    <script src={% static 'js/jquery.elevatezoom.js' %}></script>

</head>
