<header class="ui ordered fluid tablet stackable steps">
    <div class="active step">
        <div class="content">
            <div class="title">Selecionar Localização</div>
            <div class="description">Comnunidade</div>
        </div>
    </div>
    <div class="disabled step">
        <div class="content">
            <div class="title">Selecionar Imagem</div>
            <div class="description">Imagem referente a localização</div>
        </div>
    </div>
    <div class="disabled step">
        <div class="content">
            <div class="title">Regras</div>
            <div class="description">Caso que se encontra sua comunidade</div>
        </div>
    </div>
</header>