{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% include 'blocos/head.html' %}
{% include 'blocos/topo.html' %}

<body class="meio_logado">
    <div class="bloco_inicio">
    {% if user.is_staff %}
        <div class="menu_lateral">{% include 'menu/menuVertical.html' %}</div>
    {% else %}
        <div class="menu_lateral">
            {% include 'menu/menuVertical.html' %}
        </div>
    {% endif %}
        {% block body_block %}
        {% endblock %}
    </div>
</body>

{% include 'blocos/footer.html' %}

</html>


