{% load static %}
<div class="center menu">
        <a class="item" href="{% url 'ListaComunidade' %}">
            Comunidade
        </a>
        <a class="item" href="{% url 'FormImagem' %}">
            Imagens
        </a>
        <a class="item" href="{% url 'FormCaso' %}">
            Casos
        </a>
        <a class="item" href="{% url 'BuscarCaso' %}">
            Monitoramento
        </a>
        <a class="item" href="{% url 'MostrarHistoricos' %}">
            Histórico
        </a>
</div>
