{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            {% csrf_token %}
            <table class="ui striped celled unstackable table">
            <thead>
            <tr>
                <th class="no-sort" colspan="5">
                    <div class="ui teal ribbon large label">Lista de Comunidades</div>
                    <button class="right floated ui labeled botaoUpload icon button adicionarComu">
                        <i class="icon add"></i>
                        <a class="item" href="{% url 'FormComunidade' %}">
                            Adicionar Comunidade
                        </a>
                    </button>
                </th>

            </tr>
            <tr>
                <th>Nome</th>
                <th class="collapsing center aligned" colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% if comunidades %}
                    {% for comunidade in comunidades %}
                        <tr>
                            <td>
                                <a class="item" href="{% url 'FormImagem' comunidade.id %}">{{ comunidade.nome }}</a>
                            </td>
                            <td class="collapsing center aligned">
                                <input type="hidden" id="{{ comunidade.id }}" value="{{ comunidade.nome }}"/>
                                <a class="cursorPointer editarBacia" onclick="bh_editar({{ comunidade.id }});">
                                    <i class="ui write grey large icon"></i>
                                </a>
                            </td>
                            <td class="collapsing center aligned">
                                <a class="cursorPointer excluirBacia" onclick="bh_excluir({{ comunidade.id }});">
                                    <i class="ui trash red large icon"></i>
                                </a>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>Não há dados cadastrados.</td></tr>
                {% endif %}
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}


