{% load widget_tweaks %}
<div class="ui modal centered row modalFormCaso">
    <table class="ui striped celled unstackable table" id="tabela_lista">
        <thead>
        <tr>
            <th class="no-sort" colspan="5">
                <div class="ui default ribbon large label">Cadastrar Novo Caso</div>
            </th>
        </tr>
        </thead>
    </table>
    <form class="ui form" action="/CadCaso/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="caso_inserido" value="{{ current_imagem.id }}">
        <div class="ui modalpadrao">
            <div class="fields">
                {#começa#}
                <div class="five wide field"></div>
                <div class="six wide field">
                    <label>Objeto 1</label>
                    {{ form.objeto1|attr:"required" }}

                </div>
                {#termina#}
                {#começa#}
                <div class="five wide field">
                    <label>Relação</label>
                    {{ form.relacao|attr:"required" }}
                </div>

                {#termina#}
                <div class="six wide field">
                    <label>Objeto 2</label>
                    {{ form.objeto2|attr:"required" }}
                </div>

                {#termina#}
                {#começa#}

                <div class="four wide field">
                    <label>Distância</label>
                    {{ form.distancia|attr:"required"|attr:"autofocus" }}
                </div>
                {#termina#}
                <div class="five wide field"></div>
            </div>
            {#            segunda linha#}
            <div class="fields">
                {#começa#}
                <div class="five wide field"></div>
                <div class="six wide field">
                    <label>Restrição</label>
                    <select name="restricao">
                        <option value="{{ rest_id }}">{{ rest }}</option>
                    </select>
{#                    {{ form.restricao|attr:"required" }}#}
                </div>
                {#termina#}
                {#começa#}
                <div class="five wide field">
                    <label>Resultados</label>
                    <select name="resultado">
                        <option> -------------- </option>
                        <option name="resultado" value="Verde"> Verde </option>
                        <option name="resultado" value="Amarelo"> Amarelo </option>
                        <option name="resultado" value="Vermelho"> Vermelho </option>
                    </select>
{#                    {{ form.resultado|attr:"required" }}#}
                </div>

                {#termina#}
                <div class="six wide field">
                    <label>Plano de Ação</label>
                    {{ form.plano_acao|attr:"required" }}
                </div>

                {#termina#}

                <div class="five wide field"></div>
            </div>
            <div class="field">
                <div class="ui centered grid">
                    <div class="ui slider checkbox">
                        {% if monitorando %}
                            <input type="checkbox" name="monitorar" checked>
                            <label>Monitorar</label>
                        {% endif %}

                    </div>
                </div>
            </div>

            {% include 'blocos/buttons_form.html' %}
    </form>
</div>
</div>
</div>
