{% load widget_tweaks %}
<div class="ui modal centered row modalEditarCaso">
    <table class="ui striped celled unstackable table" id="tabela_lista">
        <thead>
        <tr>
            <th class="no-sort" colspan="5">
                <div class="ui default ribbon large label">Editar Caso</div>
            </th>
        </tr>
        </thead>
    </table>
    <form class="ui form" action="{% url 'Caso_Edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ui modalpadrao">
            <div class="fields">
                {#começa#}
                <div class="five wide field"></div>
                <div class="six wide field">
                    <label>Relação</label>
{#                    {{ form.objeto1|attr:"required"  }}#}
                        {{ rel }}
                </div>
                <div class="four wide field">
                    <label>Distância</label>
                    {{ form.distancia|attr:"required"|attr:"autofocus" }}
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field"></div>
                <div class="six wide field">
                    <label>Restrição</label>
                    {{ dado.restricao }}
                </div>
                <div class="five wide field">
                    <label>Resultados</label>
                    {{ form.resultado|attr:"required" }}
                </div>
                <div class="six wide field">
                    <label>Plano de Ação</label>
                    {{ form.plano_acao|attr:"required" }}
                </div>
                <div class="five wide field"></div>
            </div>
            <input type="hidden" name="caso_id" id="caso_id"/>
            <input type="hidden" name="ob1" id="ob1"/>
            <input type="hidden" name="rel" id="rel"/>
            <input type="hidden" name="restri" id="restri"/>
            <input type="hidden" name="ob2" id="ob2"/>
            <div class="actions">
            <input type="submit" class="ui right teal button" value="Editar"/>
                <div class="ui deny button">
                Cancelar
            </div>
        </input>
        </div>
    </form>
</div>
</div>
</div>
